body {
  margin:0;
  padding:0;
  font-size:16pt;
}
input, button, textarea, select, select option {
  font-size: inherit;
}

header {
  width:100%;
  background-color:#000;
  color: #FFF;
  padding:0.5em;
}

header span#titre-film {
  color:#68ff53;
}

footer#main {
  width:80%;
}
footer#main {
  position:fixed;
  text-align:right;
  bottom:0;
  width:100%;
  z-index:100;
  background-color:black;
}
footer#main button {
  font-size: 20pt;
  padding: 0.2em 1em;
}

.explication {
  font-size:0.85em;
  font-style:italic;
  opacity:0.5;
}
.explication:hover {opacity:1}
div.explication {padding:1em;}

.fright {float:right;}
.fleft {float:left;}

div.buttons {
  margin-top:1em;
}
div.buttons button + button {
  margin-right: 12px;
}

button.warn {
  background-color: #f54444;
  color:white;
}
