div#container-personnages {
  position: fixed;
  top: 100px;
  left: calc(50% - 300px);
  background-color: white;
  padding:1em;
  opacity: 0.95;
  box-shadow: 10px 10px 10px 10px grey;
}
div#container-personnages div.buttons {
  margin-top:1em;
}

div#container-personnages #personnages .personnage .dim { /* input & span entête */
  width: 40px;
}
div#container-personnages #personnages .personnage .pseudo {
  width: 100px;
}
div#container-personnages #personnages .personnage .patronyme {
  width: 200px;
}
div#container-personnages #personnages .personnage .description {
  width: 400px;
}
